<div class="container">
  <div class="grid">
    <div class="field col-12 md:col-4">
      <div class="card">
        <img src="assets/img/planoEstudo/Cartão Plano de Carreata de Formatura Lúdico e Comemorativo em Roxo e Laranja.png" alt="Imagem" class="card-image">
        <div class="card-content">
          <p>Início</p>
          <p>01/03</p>
          <p>Fim</p>
          <p>29/09</p>
          <p>O plano de estudo foi criado para melhorar seu desempenho e prepará-lo(a) 
            para exames, com um cronograma equilibrado e suporte contínuo. </p>
          <div class="card-buttons">
            <a href="">Criar</a>
            <a href="">Detalhes</a>
          </div>
        </div>
      </div>
    </div>
      <div class="field col-12 md:col-4">
        <div class="card">
          <img src="assets/img/planoEstudo/intensivo.png" alt="Imagem" class="card-image">
          <div class="card-content">
            <p>Início</p>
            <p>01/03</p>
            <p>Fim</p>
            <p>29/09</p>
            <p>O plano de estudo foi criado para melhorar seu desempenho e prepará-lo(a) 
              para exames, com um cronograma equilibrado e suporte contínuo. </p>
            <div class="card-buttons">
              <a href="">Criar</a>
              <a href="">Detalhes</a>
            </div>
          </div>
        </div>
      </div> 



      
      

</div>

      .
</div>


