<div class="div-aulas grid">
  <div class="materias col-12 md:col-3 p-fluid">

  <mat-card *ngIf="!isMobile">
    <mat-card-header>
      <label>Disciplinas</label>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        @for (link of list; track link) {
          <a mat-list-item href="..." >{{ link.title }}</a>
        }
      </mat-nav-list>

    </mat-card-content>
  </mat-card>

    <mat-card *ngIf="isMobile">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Disciplinas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Biologia</p>
        <p>Quimica</p>
        <p>Matematica</p>
        <p>Fisica</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
  <mat-card class="div-assuntos col-12 md:col-9 p-fluid">
    <mat-card-content>
  <mat-icon>menu_book</mat-icon>
       <p>Escolha a Disciplina</p>
    </mat-card-content>
  </mat-card>

</div>
