.div-aulas{
  padding: 20px;
  margin: 5px;
  width: 100%;
}

mat-card{
  border-radius: 30px;
  margin: 0px;
  height: 491px;
}

h2{
  font-family: "Montserrat", Arial, sans-serif;
}

.div-assuntos{
  margin: 0;
  background-color: #26DB00;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Montserrat";
  height: 500px;
  position: relative;
}
