.div-aulas{
  padding: 20px;
}

mat-card{
  border-radius: 30px;
}


.div-assuntos{
  margin: 0;
  background-color: rgba(89, 219, 119, 0.41);
  text-align: center;
  justify-content: center;
  font-size: 40px;
  height: 500px;
  position: relative;
}
