<body>
    <div class="container">
        <div class="card left-card">
            <h2>Opções de Simulados</h2>
            <div class="option">
                <input type="radio" id="simulado1" name="simulado" value="simulado1">
                <label for="simulado1" class="radio-label">Física</label>
            </div>
            <div class="option">
                <input type="radio" id="simulado2" name="simulado" value="simulado2">
                <label for="simulado2" class="radio-label">Química</label>
            </div>
            <div class="option">
                <input type="radio" id="simulado3" name="simulado" value="simulado3">
                <label for="simulado3" class="radio-label">Biologia</label>
            </div>
            <button class="generate-button">Gerar</button>
        </div>
        <div class="card right-card">
            <p>Selecione o simulado que deseja fazer</p>
        </div>
    </div>
</body>