<mat-toolbar *ngIf="isMobile">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/src/assets/img/Design sem nome1.png" alt="" style="width: 50px;">
</mat-toolbar>


<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <button class="entry" mat-icon-button aria-label="Menu icon" (click)="toggleMenu()" *ngIf="!isMobile" style="position: relative; left: 15px;">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list>
      <a href="/dashboard" mat-list-item>
        <span class="entry">
           <mat-icon>house</mat-icon>
           <span *ngIf="!isCollapsed">INÍCIO</span>
        </span>
     </a>
     <a href="/aulas" mat-list-item>
      <span class="entry">
         <mat-icon>live_tv</mat-icon>
         <span *ngIf="!isCollapsed">AULAS</span>
      </span>
   </a>
     <a href="/plano-estudo" mat-list-item>
      <span class="entry">
         <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#26DB00"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg></mat-icon>
         <span *ngIf="!isCollapsed">CRONOGRAMA</span>
      </span>
   </a>
   <a href="/plano" mat-list-item>
    <span class="entry">
      <mat-icon>books</mat-icon>
       <span *ngIf="!isCollapsed">PLANO DE ESTUDOS</span>
    </span>
 </a>
 <a href="/simulado" mat-list-item>
  <span class="entry">
     <mat-icon>library_books</mat-icon>
     <span *ngIf="!isCollapsed">SIMULADO</span>
  </span>
</a>
<a href="area-do-aluno
" mat-list-item>
  <span class="entry">
     <mat-icon>person</mat-icon>
     <span *ngIf="!isCollapsed">ÁREA DO ALUNO</span>
  </span>
</a>
<a mat-list-item>
  <span class="entry">
     <mat-icon>logout</mat-icon>
     <span *ngIf="!isCollapsed">SAIR</span>
  </span>
</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header" *ngIf="!isMobile">
      <h2>Olá Nilson! Aqui é seu Dashboard.</h2>
     <a href="/area-do-aluno"> <img src="assets/img/areaAluno/Eu.jpg" style="width: 70px; height: 70px; border-radius: 50%; " alt=""></a>
      <mat-divider></mat-divider>
    </div>
    <hr>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
