<mat-card class="grid">
  <mat-card-header>
    <div class="div-label grid">
      <label class="col-12 md:col-6 p-fluid">Dados Pessoais</label>
      <label class="col-12 md:col-6 p-fluid">* Dados Obrigatorios</label>
  </div>

  </mat-card-header>
  <mat-card-content>
    <div class="grid">

    </div>
    <form class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Primeiro Nome</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Sobrenome</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
    </form>
    <div class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Logradouro</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Numero</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <button mat-raised-button color="primary">Salvar</button>

    </div>
  </mat-card-content>
</mat-card>
