mat-card{
  padding: 30px;
  padding-top: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

mat-form-field{
  width: 100%;
}

mat-form-field{
  border-radius: 50px;
}

.div-label{
  width: 100%;
  font-weight: bold;
  margin-bottom: 25px;
}

.button-all{
  gap: 20px;
}

#button-edit{
  background-color: #26DB00;
  color: white;
}
#button-save:hover{
    background-color: #25db003c;
}
