<div class="container">
    <div class="grid">
        <div class="col-6" style="padding-right: 200px;">
            <div class="login-container">
                <h1>Acesse a sua conta</h1>
                <form action="#">
                    <label for="E-mail">E-mail</label>
                    <input type="email" name="email" placeholder="E-mail" required>
                    <label for="Senha">Senha</label>
                    <input type="password" name="password" placeholder="Senha" required>
                    <div class="forgot-password">
                        <a href="#">Esqueci a senha</a>
                    </div>
                    <button>Acessar</button>
                </form>
            </div>
        </div>
        <div class="col-6 imgDesktop">
            <img src="assets/img/Component-4.svg" alt="" style="width: 550px; padding-left:">
        </div>
    </div>
</div>