<div class="coontainer">
        <div class="img-entrada">
            <img src="assets/img/Dashboard/banner-entrada.svg" alt="" style="width: 70rem; max-width: 100%; height: auto; border-radius: 50px;">
        </div>


        <h2>Aulas recentes</h2>

        <ul class="videos__container">
            <li class="videos__item">
                <iframe width="100%" height="72%" src="https://www.youtube.com/embed/yWOKhux3hnE?si=DtWCQxqUwXkUe4EM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </li>
            <li class="videos__item">
                <iframe width="100%" height="72%" src="https://www.youtube.com/embed/TYhHbL5oWxw?si=9Od4sC6-yX32cIpm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </li>
            <li class="videos__item">
                <iframe width="100%" height="75%" src="https://www.youtube.com/embed/7bvocbK7CaI?si=zAu9OYk2NTz9xhk3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>           
            </li>
            <li class="videos__item">
                <iframe width="100%" height="75%" src="https://www.youtube.com/embed/DFT3UCmJIC4?si=Epz99XpldxUoMGuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </li> 
        </ul>s
</div>