<div class="coontainer">
    <div class="img-entrada">
        <img src="assets/img/Dashboard/Frame 2.png" alt="" style="width: 70rem; max-width: 100%; height: auto; border-radius: 50px; border: solid 4px #26DB00;">
    </div>

    <h2>Aulas recentes</h2>

    <ul class="videos__container">
        <li class="videos__item">
            <h3 class="video-title">Aula 1 - Física: Módulo 1 - Introdução ao Movimento</h3>
            <div class="video-wrapper" onclick="playVideo(this)">
                <img class="video-thumbnail" src="assets/img/Dashboard/verdecp.jpg" alt="Thumbnail">
                <button class="play-button">▶</button>
                <iframe class="video-iframe" data-src="https://www.youtube.com/embed/yWOKhux3hnE?si=DtWCQxqUwXkUe4EM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
        <li class="videos__item">
            <h3 class="video-title">Aula 2 - Matemática: Módulo 1 - Equações do 2º Grau</h3>
            <div class="video-wrapper" onclick="playVideo(this)">
                <img class="video-thumbnail" src="assets/img/Dashboard/verdecp.jpg" alt="Thumbnail">
                <button class="play-button">▶</button>
                <iframe class="video-iframe" data-src="https://www.youtube.com/embed/TYhHbL5oWxw?si=9Od4sC6-yX32cIpm" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
        <li class="videos__item">
            <h3 class="video-title">Aula 3 - Química: Módulo 2 - Ligações Químicas</h3>
            <div class="video-wrapper" onclick="playVideo(this)">
                <img class="video-thumbnail" src="assets/img/Dashboard/verdecp.jpg" alt="Thumbnail">
                <button class="play-button">▶</button>
                <iframe class="video-iframe" data-src="https://www.youtube.com/embed/7bvocbK7CaI?si=zAu9OYk2NTz9xhk3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
        <li class="videos__item">
            <h3 class="video-title">Aula 4 - Biologia: Módulo 3 - Ecossistemas</h3>
            <div class="video-wrapper" onclick="playVideo(this)">
                <img class="video-thumbnail" src="assets/img/Dashboard/verdecp.jpg" alt="Thumbnail">
                <button class="play-button">▶</button>
                <iframe class="video-iframe" data-src="https://www.youtube.com/embed/DFT3UCmJIC4?si=Epz99XpldxUoMGuI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </li>
    </ul>
</div>
